/* PostTypeForm.css */

.PostTypeForm {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 100px;
  background-color: rgba(203, 20, 194, 0.8); /* Corrected background color */
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure it's on top of other elements */
}
  .PostTypeForm label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    color: white;
  }
  
  .PostTypeForm input[type="radio"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .PostTypeForm label span {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .PostTypeForm label:hover {
    background-color: #f2f2f2;
    color: black
  }
  
  .PostTypeForm label:hover input[type="radio"] {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }